*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #0a3b53, #1c7ab4, #0a3b53)
}
.first-column{
    color: #393E41;
    border-radius: 10px 0px 0px 10px;
    width: 500px;
    height: 500px;
    background-color: #7EE8FA;
}
.first-column h1{
    padding-top: 0%;
    text-align: center;
    font-size: 3em;
}
.first-column p{
    text-align: center;
    font-size: 1.6em;
}
.second-column{
    border-radius: 0px 10px 10px 0px;
    width: 600px;
    height: 500px;
    background-color: white;
}
img{
    margin-left: auto;
    width: 500px;
    height: 300px;
}

h1.call{
    font-size: 3em;
    padding-top: 40px;
    color: #393E41;
    text-align: center;
}
.field{
    width: 400px;
}
.center{
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}
input{
    border-radius: 10px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
}
.inp{
    padding-top: 10px;
}
.butt{
   padding-left: 30%;
}
.botao{
    border-color: #393E41;
    color: white;
    background-color: #393E41;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
}

@media (max-width: 1100px) {
    .first-column{
        display: none;
    }
    .second-column{
        width: 500px;
        height: 600px;
    }
    .center{
        margin-left: 10%;
    }
}
@media (max-width: 600px) {
    .content{
        background-image: linear-gradient(to right, white, white, white)
    }
        input{
            width: 50px;
            height: 50px;
        }
}   