@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bhana{
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.conteudo{
    background-color: white;
    padding-bottom: 50px;
    transition: 1s;
    width: 100%;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
.conteudo2{
    background-color: #393E41;
    padding-bottom: 50px;
    transition: 1s;
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    transition: 0.5s ease-in;
}

.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}
.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(images/onda.png);
    background-size: 1000px;
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
#onda3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4{
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}
.flex{
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    display: flex;
    color: black;
    height: 50px;
    width: 600px;
}
.fitty{
    display: flex;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 2em;
    font-weight: 100;
    font-family: monospace;
}

.titulo{
    padding-left: 40px;
    color: white;
    padding-top: 20vh;
    font-size: 1.3em;
    font-family: "Oswald", sans-serif;
}
.titulo h1{
    font-size: 4em;
}
h1.life{
    font-size: 6em;
}
.titulo p {
    font-family: "Oswald", sans-serif;
}
.par{
    color: white;
    font-size: 1.3em;
}
button.bwhi{
    border-radius: 50px;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    transition: 0.5s;
    border-color: white
}

button.conf{
    border-radius: 50px;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: #393E41;
    color: white;
    transition: 0.5s;
    border-color: #393E41
}


button.conf:hover{
    cursor: pointer;
    width: 230px;
}
button.bwhi:hover{
    cursor: pointer;
    width: 230px;
}
#link-topo{
    height: 30px;
    text-decoration: none;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #393E41;
    border-radius: 10%;
    padding: 6px;
}
.sobre{
    display: inline-flex;
    padding-top: 50px;
    margin: auto
}
img.imgcon{
    width: 350px;
    height: 270px;
}
.sobre h1{
   font-size: 2em;
}
.sobre p{
    font-size: 1.3em;
 }
 @media(max-width: 700px){

    img.imgcon{
        display: none;
    }
    .in{
        font-size: 0.8em;
    }
    .par{
        font-size: 1em;
    }
 }
 @media(max-width: 650px) {
    .titulo h1{
        font-size: 3em;
    }
    h1.life{
        font-size: 4em
    }
 }
 @media(max-width: 500px) {
    .titulo h1{
        font-size: 2em;
    }
    h1.life{
        font-size: 3em
    }
 }
