@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sofadi+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    background-image: url(images/pexels-jplenio-1105382.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: black;
}
.conteudo{
    background-color: white;
    padding-bottom: 50px;
    transition: 1s;
}
.conteudo2{
    background-color: #393E41;
    padding-bottom: 50px;
    transition: 1s;
    color: white;
}

.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}
.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(images/onda.png);
    background-size: 1000px;
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
#onda3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4{
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}

.links{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    height: 25px;
    border-radius: 50px;
}
.as{
    display: inline;
    padding-left: 10px;
    align-items: center;
    align-content: center; 
}
a{
    font-size: 1.1em;
    color: white;
    text-align: center;
    text-decoration: none;
}
.titulo{
    color: white;
    padding-top: 9%;
    font-size: 1.3em;
}
.titulo h1{
    font-size: 4em;
}
.titulo p {
    font-family: "Oswald", sans-serif;
}
.par{
    color: white;
    font-size: 1.3em;
}
button{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: #449DD1;
    color: white;
    transition: 0.5s;
    border-color: #2892D7
}
a:hover{
    color: #2892D7;
}
button:hover{
    cursor: pointer;
    width: 230px;
}
#link-topo{ 
    text-decoration: none;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #393E41;
    border-radius: 50%;
    padding: 6px;
}
.sobre{
    align-items: center;
    display: inline-flex;
    padding-top: 50px;
    margin: auto
}
img{
    width: 350px;
    height: 270px;
}
.sobre h1{
   font-size: 2em;
}
.sobre p{
    font-size: 1.3em;
 }