*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    background-color: #393E41;
    height: 100vh;
}


.lojat{
    padding-top: 20px;
    padding-left: 12%;
    padding-bottom: 50px;
    font-size: 3em;
    text-align: left;
    color: white;
}

.flex{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.growth{
    width: 250px;
    box-shadow: -1px -1px 7px 3px white;
}
img{
    width: 250px;
    height: 300px;
}
p{
    padding: 10px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #393E41;
}

.flexside{
    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
}
.fitmap{
    padding-top: 5px;
}

img.drew{
    width: 400px;
}


@media (max-width: 750px) {
    .flex{
        display: block;
    }
    .growth{
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 1050px) {
    img.drew{
        display: none;
    }
    .lojat{
        text-align: center;
        padding-left: 0px;
        padding-bottom: 0px;
    }
}
